body {
    text-align: center;
}
.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-color: black;
    border-style: solid;
}

button {
    margin: 5px;
}

.button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.row {
    display: flex;
    justify-content: center;
}

.square {
    background-color: oldlace;
    flex: 1 1 auto;
}

